{% extends "base.html" %}
{% load bootstrap %}
{% load i18n %}

{% block title %}Applicant Form{% endblock %}

{% block content %}
<h1>{% trans "Applicant Form" %}</h1>
<p>
  Hi there.
{% blocktrans %}
Please fill out those details, they will be redisplayed on successful submission. Kindly note, if you fill <code>test field</code> with <code>joe</code>, you will get <code>Validation Error</code> in return. You can use this as regression test.
{% endblocktrans %}
</p>

<form  method="post">
    {% csrf_token %}
    {{ form|bootstrap }}
    <input type="submit" value="Submit" />
</form>


{% endblock %}
